body,td,th { font-size: 12px; font-family: arial; color: #666; cursor: default; vertical-align: baseline; outline: 0; line-height: 1; margin: 0; padding: 0; word-wrap: break-word; }
a,a:link,a:visited,a:active,a:hover { font-family: arial; font-size: 12px; color: #666; text-decoration: none; }
div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0; }
:focus { outline:0; }
img { border:none; }
::-webkit-scrollbar { width: 0; }
::selection { background: transparent; }
::-moz-selection { background: transparent; }


body {
    display: block;
}

#actionmenu {
	top: 50%;
	left: 50%;
	width: 1200px;
	height: 700px;
	display: block;
	overflow: auto;
	position: fixed;
	border-top: 12px solid #111;
	border-left: 12px solid #111;
	border-right: 12px solid #111;
	border-bottom: 40px solid #111;
	border-radius: 15px;
	transform: translate(-50%,-50%);
}

buttom {
	top: 50%;
	left: 50%;
	width: 40px;
	height: 14px;
	display: block;
	position: fixed;
	margin-top: 355px;
	background: #8a888c;
	border-radius: 15px;
	transform: translate(-50%,-50%);
}

buttom:hover {
	background: #fff;
}

#content {
    display: block;
    border-radius: 0;
    background-color: #011b37;
}
#badge {
    position: fixed;
    display: inline-block;
    left: 3%;
    top: 2%;
    max-width: 175px;
    height: auto;
    background-color: #011b37;
}
#main {
    position: relative;
    text-align: center;
    top: 10%;
    width: 80%;
    margin: auto;
}
#banner {
    position: fixed;
    display: inline-block;
    bottom: 10%;
    right: 1%;
    max-width: 300px;
    height: auto;
    opacity: 0.3;
}
#mugshot {
    display: inline-block;
    max-width: 215px;
    height: auto;
    border: 2px solid #fbbe28;
    user-select: none;
}
.report-input {
    font-family: "Courier New";
    border-width:0px;
    border:none;
    color: #00a2d6;
    font-size: 12pt;
    padding: 0px 0px 0px 0px;
    width: 550px;
    margin-right: 10px;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: bolder;
}
.page-title {
    margin-bottom: 30px;
}
.line {
    position: fixed;
    width: 100%;
    height: 1.5%;
    background-color: #fbbe28;
}
.nav-active {
    text-decoration: underline;
    text-decoration-color: #fbbe28;
}
.noselect {
    user-select: none;
}
.left-side {
    float: left;
    max-width: 50%;
    max-height: 550px;
    overflow-y: auto;
    height: auto;
    text-align: left;
    user-select: none;
}
.right-side {
    position: absolute;
    left: 65%;
    right: 10%;
    width: 35%;
    max-width: 300%;
    max-height: 550px;
    overflow-y: auto;
    height: auto;
    text-align: left;
    user-select: none;
}
.modal {
    z-index: 3;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7)
}
.modal-content {
    margin: auto;
    background-color: #011b37;
    position: relative;
    padding: 20px 20px;
    outline: 2px solid #fbbe28;
    top: 40%;
    width: 30%;
}
br {
    user-select: none;
}
h2, h3 {
    font-family: "Arial Black";
    user-select: none;
    color: #fbbe28;
    margin: 1px 1px 1px 1px;
}
.haswarrant {
    color: #fbbe28;
}
h4 {
    font-family: "Courier";
    font-weight: bolder;
    font-size: 14px;
    user-select: none;
    color: #00a2d6;
    margin: 1px 1px 1px 1px;
}
p {
    font-family: "Courier";
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    font-family: "Courier";
    font-weight: bolder;
    color: white;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
    border-right: 2px solid #fbbe28;
}
li:last-child {
    border-right: none;
}
button {
    background-color: #fbbe28;
    color: #011b37;
    font-family: "Arial";
    font-weight: bolder;
    border: 4px solid #fbbe28;
    font-size: 12pt;
    text-align: center;
    padding: 4px 3px;
}
input {
    background-color: #011b37;
    font-family: "Courier New";
    border: 2px solid #fbbe28;
    color: #00a2d6;
    font-size: 12pt;
    padding: 7px 15px 5px 15px;
    margin-right: 10px;
    text-overflow: ellipsis;
    text-align: left;
}
textarea {
    background-color: #011b37;
    white-space: pre-line;
    white-space: pre-wrap;
    font-family: "Courier New";
    font-weight: bolder;
    font-size: 14px;
    border-width:0px;
    border:none;
    color: #00a2d6;
    font-size: 12pt;
    padding: 0px 0px 0px 0px;
    width: 550px;
    margin-right: 10px;
    text-overflow: ellipsis;
    text-align: left;
    outline: none;
}
th {
    font-family: "Courier New";
    font-weight: bolder;
    font-size: 14px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 3px solid #fbbe28;
}
td {
    font-family: "Courier New";
    font-size: 14px;
    color: #00a2d6;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #fbbe28;
}
table {
    border-collapse: collapse;
    column-gap: 3px solid #fbbe28;
}
table td + td { 
    border-left: 2px solid #fbbe28; 
}
table th + th { 
    border-left: 2px solid #fbbe28; 
}
input:focus {
    outline: none;
}
button:focus {
    outline: none;
}
button:hover {
    background-color: #00a2d6;
    border-color: #00a2d6;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #fbbe28; 
    border-radius: 5px;
}