#body {
	display: none;
	overflow: hidden;
}

#outerdiv {
	right: 40px;
	bottom: 38px;
	width: 211px;
	height: 7px;
	position: fixed;
	background: rgba(0,0,0,0.4);
	border-radius: 2px;
}

#innerdiv {
	background:  #887DF1;
	height: 100%;
	border-radius: 2px;
}