#body {
	display: none;
	overflow: hidden;
}

#outerdiv {
	right: 40px;
	bottom: 38px;
	width: 211px;
	height: 7px;
	position: fixed;
	background: rgba(0,0,0,0.4);
	border-radius: 2px;
}

#innerdiv {
	background: linear-gradient(45deg, rgba(255, 0, 0, 0.534) 0%, rgba(0, 0, 0, 0.452) 55%, rgba(0, 0, 0, 0.466) 100%);
	height: 100%;
	border-radius: 2px;
}