@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

#simplehud {
	top: 50%;
	left: 50%;
	display: none;
	background: rgba(0,0,0,.2);
	-webkit-box-shadow: 0 6px 15px 0 rgba(0,0,0,.6);
	box-shadow: 10px rgba(0,0,0,.4);
	-webkit-box-sizing: border-box;
	width: 35%;
	padding: 0 15px 12px 15px;
	border-radius: 15px;
	position: fixed;
	transform: translate(-50%,-50%);
}
@keyframes animateright {
	from {
		right: -300px;
		opacity: 0
	}

	to {
		right: 3%;
		opacity: 1
	}
}
.label_carteira {
	font-family: 'Lobster', cursive;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
	letter-spacing: 0.25rem;
	text-align: center;
}

.label_carteira p {
	background: linear-gradient(270deg, rgba(74, 255, 213,1), rgba(74, 255, 213,0.3));
	background-size: 400% 400%;
	margin: 10px;
	padding: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: changebackground 5s ease infinite;
}
@keyframes changebackground {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

.info_carteira {
	font-family: 'Blinker', sans-serif;
	font-size: 15px;
	color: white;
}
.info_carteira .info_section{
	background: transparent;
	padding: 8px;
	/*border-radius: 8px;
	margin: 10px 0;*/
	text-align: left;
	letter-spacing: 1px;
	border-bottom:1px solid transparent;
	color: white;
}
.info_carteira .info_section:first-child{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.info_carteira .info_section:last-child{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0 2px 1px transparent;
	border: 0;
}
.info_carteira .info_section .icon {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center;
	float: left;
	position: relative;
	top: -5px;
	left: -2px;
}

.info_carteira .info_section .info {
	float: right;
	color: white;
	padding-right: 5px;
}
@keyframes animateright {
	from {
		right: -300px;
		opacity: 0
	}

	to {
		right: 2.2%;
		opacity: 1
	}
}