

@font-face {
	font-family: "Bebas";
	src: url("Bebas-Regular.ttf") format("opentype");
  }
  
  @font-face {
	font-family: "Bebas";
	src: url("Bebas-Regular.ttf") format("opentype");
  }
  
  @font-face {
	font-family: "Bebas";
	src: url("Bebas-Regular.ttf") format("opentype");
  }

img {
  width: 300px;
  height: 150px;
}

div {
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}
:focus {
  outline: 0;
}
::selection {
  background: transparent;
}

#actionmenu {
  top: 50%;
  left: 50%;
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
}

#actionmenu button {
  background: url('img.png');
  font-size: 15px;
  font-family: "Bebas";
  width: 300px;
  height: 50px;
  border: 0;
  color: rgb(255, 255, 255);
  display: block;
  margin-top: 10px;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 0.7px;
  text-shadow: 1px 1px #000;
  padding: 0 20px;
  transition: all .1s ease-in;
}

#actionmenu button:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.titulo {
  color: #fff;
  width: 280px;
  font-size: 26px;
  font-family: "Bebas" !important;
  display: block;
  text-align: center;
  text-shadow: 1px 1px #000;
  letter-spacing: 1px;
  padding: 0 0 5px;
}

.subtitulo {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-family: "Bebas";
  width: 280px;
  display: block;
  text-align: center;
  text-shadow: 1px 1px #000;
  letter-spacing: 1px;
  padding: 0 0 20px;
}

img{
	margin: auto;
	display: block;
}